<% title "Network services" %>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Vendor</th>
    <th>Service</th>
    <th></th>
  </tr>
  <% for netsvc in @netsvcs %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%=link_to h(netsvc.name), edit_netsvc_path(netsvc)%></td>
      <td><%=netsvc.address%></td>
      <td><%=netsvc.vendor.name%></td>
      <td><%=netsvc.servertype.name%></td>
      <td align="right">
        <%= link_to "Destroy", netsvc, :confirm => "Delete #{netsvc.name}?", :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @netsvcs %>
<%= will_paginate     @netsvcs %>

<p><%= link_to "New network service", new_netsvc_path %></p>
